/* General styles for form containers */
.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 8px;
    color: #555;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container button[type="submit"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus,
.form-container input[type="email"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px #66afe9;
}

.form-container button[type="submit"] {
    background-color: rgb(67, 187, 227);
    color: white;
    border: none;
    cursor: pointer;
}

.form-container button[type="submit"]:hover {
    background-color: lightblue;
}

.form-container p {
    text-align: center;
    margin-top: 15px;
}

.form-container p a {
    color: #007bff;
    text-decoration: none;
}

.form-container p a:hover {
    text-decoration: underline;
}
