/* :root {
    --dark-green: #606c38;
    --green: #283618;
    --light-yellow: #fefae0;
    --yellow: #dda15e;
    --brown: #bc6c25;
    --logo: #ff8c00;
    --red: #950f13;
    --darkgray: #161a1d;
} */
 
/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--light-yellow);
    background-color: var(--green);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: var(--logo);
}